<h2 class="text-success-emphasis">Reactivos: <small> Dinámicos </small></h2>
<hr />

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label text-white"
      ><strong>Nombre</strong></label
    >
    <div class="col-sm-9">
      <input
        class="form-control"
        formControlName="name"
        placeholder="Nombre de la persona"
        [ngClass]="isValidField('name') ? 'bg-warning' : ''"
      />
      <span *ngIf="isValidField('name')" class="form-text text-danger">
        {{ getFieldError("name") }}
      </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label text-white"
      ><strong>Agregar</strong></label
    >
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          [formControl]="newFavorite"
          placeholder="Agregar favorito"
        />

        <button
          (click)="onAddToFavorites()"
          class="btn btn-outline-primary"
          type="button"
        >
          Agregar favorito
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label text-white"
      ><strong>Favoritos</strong></label
    >
    <div class="col-sm-9" formArrayName="favouriteGames">
      <div
        class="mb-1"
        *ngFor="let favourite of favouriteGamesControl.controls; let i = index"
      >
        <div class="input-group">
          <input
            [formControlName]="i"
            class="form-control"
            [ngClass]="
              isValidFieldInArray(favouriteGamesControl, i) ? 'bg-warning' : ''
            "
          />

          <button
            class="btn btn-outline-danger"
            (click)="onDeleteFavourite(i)"
            type="button"
          >
            Eliminar
          </button>
        </div>
        <span
          *ngIf="isValidFieldInArray(favouriteGamesControl, i)"
          class="form-text text-danger"
        >
          Este campo es requerido
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">
        <!-- [disabled]="myForm.invalid" -->
        Guardar
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <h4>Valid</h4>
    <pre
      [ngClass]="myForm.valid ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.valid | json }}</pre
    >
    <br />

    <h4>Value</h4>
    <pre
      [ngClass]="myForm.valid ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.valid | json }}</pre
    >
  </div>

  <br />

  <div class="col">
    <h4>Agregar Juego</h4>
    <pre class="text-info-emphasis fw-bold">{{ newFavorite.valid | json }}</pre>
    <pre class="text-info-emphasis fw-bold">{{ newFavorite.value | json }}</pre>
  </div>
</div>
