<h2 class="text-success-emphasis">Reactivos: <small>Switches</small></h2>
<hr />

<form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">
  <!-- Radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label text-white"
      ><strong>Género</strong></label
    >
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="gender"
          type="radio"
          value="M"
          id="radioMasculino"
        />
        <label class="form-check-label" for="radioMasculino"> Masculino </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="gender"
          type="radio"
          value="F"
          id="radioFemenino"
        />
        <label class="form-check-label" for="radioFemenino"> Femenino </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label text-white"
      ><strong>Notificaciones</strong></label
    >
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          formControlName="wantNotifications"
          type="checkbox"
          id="flexSwitchCheckChecked"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="termsAndConditions"
          type="checkbox"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Términos y condiciones de uso
        </label>
      </div>
      <span
        *ngIf="isValidField('termsAndConditions')"
        class="form-text text-danger"
      >
        Debe de aceptar las condiciones de uso
      </span>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">Guardar</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <h4>Valid</h4>
    <pre
      [ngClass]="myForm.valid ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.valid | json }}</pre
    >

    <h4>Value</h4>
    <pre
      [ngClass]="myForm.valid ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.value | json }}</pre
    >
  </div>

  <div class="col">
    <h4>Persona</h4>
    <pre class="text-info-emphasis fw-bold">{{ person | json }}</pre>

    <h4>Genero</h4>
    <pre class="text-info-emphasis fw-bold">{{
      myForm.controls["gender"].value | json
    }}</pre>

    <h4>Notifiaciones</h4>
    <pre class="text-info-emphasis fw-bold">{{
      myForm.controls["wantNotifications"].value | json
    }}</pre>

    <h4>Term. y Cond.</h4>
    <pre class="text-info-emphasis fw-bold">{{
      myForm.controls["termsAndConditions"].value | json
    }}</pre>
  </div>
</div>
