<h2 class="text-success-emphasis">Reactivos: <small>Básicos</small></h2>
<hr />

<div class="row">
  <div class="col">
    <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-white"
          ><strong>Producto:</strong></label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Nombre del producto"
            [ngClass]="isValidField('name') ? 'bg-warning' : ''"
          />

          <span *ngIf="isValidField('name')" class="form-text text-danger">
            {{ getFieldError("name") }}
          </span>
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-white"
          ><strong>Precio:</strong></label
        >
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="price"
            placeholder="Precio del producto"
            [ngClass]="isValidField('price') ? 'bg-warning' : ''"
          />
          <span *ngIf="isValidField('price')" class="form-text text-danger">
            El precio debe de ser 0 o mayor
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-white"
          ><strong>Existencias:</strong></label
        >
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="inStorage"
            placeholder="Existencias del producto"
            [ngClass]="isValidField('inStorage') ? 'bg-warning' : ''"
          />

          <span *ngIf="isValidField('inStorage')" class="form-text text-danger">
            Las existencias deben de ser 0 o mayor
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Valid</h4>
    <pre
      [ngClass]="myForm.valid ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.valid | json }}</pre
    >

    <h4>Pristine</h4>
    <pre
      [ngClass]="myForm.pristine ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.pristine | json }}</pre
    >

    <h4>Touched</h4>
    <pre
      [ngClass]="myForm.touched ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.touched | json }}</pre
    >

    <h4>Value</h4>
    <pre
      [ngClass]="myForm.valid ? 'text-success' : 'text-danger font-italic'"
      >{{ myForm.valid | json }}</pre
    >
  </div>

  <div class="col">
    <h4>Precio</h4>
    <pre class="text-info-emphasis fw-bold">{{
      myForm.controls["price"].value | json
    }}</pre>

    <h4>Precio - Errors</h4>
    <pre class="text-info-emphasis fw-bold">{{
      myForm.controls["price"].errors | json
    }}</pre>

    <h4>Producto</h4>
    <pre class="text-info-emphasis fw-bold">{{
      myForm.controls["name"].value | json
    }}</pre>

    <h4>Producto - Errors</h4>
    <pre class="text-info-emphasis fw-bold">{{
      myForm.controls["name"].errors | json
    }}</pre>
  </div>
</div>
